@{
    ViewBag.Title = "Azure Key Vault MSI";
}

<div class="jumbotron">
    <h1>Azure Key Vault MSI Test</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MyPassportIs</h2>
        <p>
            @ViewBag.KeyValue
        </p>
    </div>
</div>